@font-face{
	font-family:'hnl';
    src:url('fonts/hnl.eot')format('eot'),
        url('fonts/hnl.woff')format('woff');
}
@font-face{
	font-family:'hnt';
    src:url('fonts/hnt.otf')format('opentype');
}
body {
  margin: 0px;
  overflow: hidden;
  font-family: 'hnl';
}
.bck{
	z-index: -1000;
	opacity: 0.4;
	background-image:url('assets/lines_pattern.jpg');
	background-size: 12px;
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0px;
	padding: 0px;
	top:0px;
	left: 0px;
}
.title{
	width: 100%;
	margin: auto;
	text-align: center;
	position: absolute;
	top: 360px;
}
.title h1{
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}
.title h2{
	margin: 0px;
	padding: 0px;
}
.title h5{
	margin: 0px;
	padding: 0px;
}
footer{
	margin: auto;
	position: absolute;
	bottom: 20px;
	font-size: 12px;
	text-align: center;
	width: 100%;
}
.make-it{
	font-family: 'hnt';
	font-size: 30px;
	margin: 0px;
	/*margin-bottom: 20px;*/
	/*margin-top: -80px;*/
}